@import "tailwindcss";

/* DARK MODE */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
}

/* BASE RESET */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  direction: rtl;
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

/* images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #16a34a;
  border-radius: 999px;
}

/* swiper fix */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: auto;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background: #22c55e !important;
  opacity: 1;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}